@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using static Microsoft.AspNetCore.Components.Web.RenderMode

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" /> 

    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="site.css?v=5" rel="stylesheet" />
    <link rel="stylesheet" href="/MyWebApp.styles.css" /> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Routes/>
    
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.downloadFileFromBytes = (filename, bytesBase64) => {
            var link = document.createElement('a');
            link.download = filename;
            link.href = "data:text/csv;base64," + bytesBase64;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
        }
    </script>
</body>
</html>